<div class="row">
  <span class="pull-left h4" for="<%=@item.id%>"><%=@item.name.titleize%></span>
  <input name="checkout[<%=@item.id%>]" type="number" style="width:15%;" class="form-control pull-right" id="<%=@item.id%>" value="1">
</div>
