// Place all the styles related to the inventory_locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
  border: #F8F8F8 1px solid;
  margin:10px;
  padding:5px;

}
