<h1>Editing Project Approval Request</h1>

<%= render 'form', project_approval_request: @project_approval_request %>

<%= link_to 'Show', @project_approval_request %> |
<%= link_to 'Back', project_approval_requests_path %>
